.Box{
    background-color: blueviolet;
    color: cornsilk;
    border: 2px black;
    padding: 20px;
    margin: 20px;
}

#secret{
    float: left;
    color: red;
}

#virus{
    padding-top: 1000px;
    font-size: 100px;
    color: red;
    font-style: italic;
}